@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color:
        #161616;
}

li {
    list-style: none;
}

a {
    font-family: 'JetBrains Mono', monospace;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-size: 30px;
    line-height: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    margin-top: 1rem;
    height: 84px;
}

.logo {
    cursor: pointer;
}

.nav-items {
    display: flex;
}

.nav-items li a {
    margin-right: 4rem;
}

.active {
    color:
        #FA8860;
}