.getstarted-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.getstarted-container {
    width: 1066px;
    height: 384px;
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.are-you-ready {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.big-thing {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.btn-getstarted {
    width: 291px;
    height: 76px;
    background: #000000;
    border-radius: 83px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
}


@media screen and (max-width:1000px) {
    .big-thing {
        font-size: 30px;
    }

    .btn-getstarted {
        width: 230px;
        height: 60px;
        font-size: 18px;
    }
}